@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  @apply inline-block no-underline !important;
}

.button {
  @apply duration-300 px-3 py-3 text-base;
}
.button--primary {
  @apply text-button-primary-text hover:text-button-primary-hover-text bg-button-primary-bg hover:bg-button-primary-hover-bg;
}
.button--secondary {
  @apply text-button-secondary-text hover:text-button-secondary-hover-text bg-button-secondary-bg hover:bg-button-secondary-hover-bg;
}

body {
  @apply font-body text-body text-base leading-[calc(20/14)];
}

.d1,
.d2,
.d3,
.d4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8 {
  @apply block font-display font-medium;
}

.d1 {
  @apply text-4xl md:text-9xl;
}

.d2 {
  @apply text-4xl md:text-8xl;
}

.d3 {
  @apply text-4xl md:text-7xl;
}

.d4 {
  @apply text-4xl md:text-6xl;
}

.h1 {
  @apply text-4xl md:text-5xl;
}

.h2 {
  @apply text-3xl md:text-4xl;
}

.h3 {
  @apply text-3xl;
}

.h4 {
  @apply text-2xl;
}

.h5 {
  @apply text-xl;
}

.h6 {
  @apply text-lg;
}

.h7 {
  @apply text-base;
}

.h8 {
  @apply text-sm;
}

b {
  @apply font-bold;
}

strong {
  @apply font-medium;
}

.list {
  @apply list-disc list-inside;
}

.link {
  @apply text-base no-underline;
}

.price--wrapper {
  @apply text-base;
}
.price--sale {
  @apply text-red-700;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e939";
  color: #faf8f1;
}

.icon-alignment-center-outline:before {
  content: "\e927";
}

.icon-alignment-center-solid .path1:before {
  content: "\e928";
  color: rgb(31, 31, 31);
}

.icon-alignment-center-solid .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-center-solid .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-center-solid .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-center-solid .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-left-outline:before {
  content: "\e92d";
}

.icon-alignment-left-solid .path1:before {
  content: "\e92e";
  color: rgb(31, 31, 31);
}

.icon-alignment-left-solid .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-left-solid .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-left-solid .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-left-solid .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-right-outline:before {
  content: "\e933";
}

.icon-alignment-right-solid .path1:before {
  content: "\e934";
  color: rgb(31, 31, 31);
}

.icon-alignment-right-solid .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-right-solid .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-right-solid .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-alignment-right-solid .path5:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(250, 248, 241);
}

.icon-glass-unfilled:before {
  content: "\e924";
  color: #beb5af;
}

.icon-glass-filled:before {
  content: "\e925";
  color: #018f6d;
}

.icon-clock:before {
  content: "\e926";
  color: #018f6d;
}

.icon-quote:before {
  content: "\e923";
}

.icon-spirit-data-seal:before {
  content: "\e922";
  color: #b2905b;
}

.icon-break:before {
  content: "\e921";
}

.icon-progress-milestone:before {
  content: "\e920";
}

.icon-new-badge .path1:before {
  content: "\e915";
  color: rgb(223, 223, 218);
}

.icon-new-badge .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(95, 93, 69);
}

.icon-new-badge .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(95, 93, 69);
}

.icon-new-badge .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}

.icon-low-stock-badge .path1:before {
  content: "\e916";
  color: rgb(253, 252, 251);
}

.icon-low-stock-badge .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(95, 93, 69);
}

.icon-low-stock-badge .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(95, 93, 69);
}

.icon-low-stock-badge .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}

.icon-low-stock-badge .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}

.icon-low-stock-badge .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}

.icon-low-stock-badge .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}

.icon-tab-indicator:before {
  content: "\e914";
}

.icon-back:before {
  content: "\e913";
}

.icon-footer-background:before {
  content: "\e912";
}

.icon-menu:before {
  content: "\e911";
}

.icon-account:before {
  content: "\e900";
}

.icon-archie-rose-logo:before {
  content: "\e901";
}

.icon-archie-rose-seal:before {
  content: "\e902";
}

.icon-button-arrow:before {
  content: "\e903";
}

.icon-button-close:before {
  content: "\e904";
}

.icon-cart:before {
  content: "\e905";
}

.icon-collapsible-arrow:before {
  content: "\e906";
}

.icon-drop:before {
  content: "\e907";
}

.icon-facebook:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-pinterest:before {
  content: "\e90a";
}

.icon-quantity-minus:before {
  content: "\e90b";
}

.icon-quantity-plus:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e90d";
}

.icon-slider-next:before {
  content: "\e90e";
}

.icon-slider-previous:before {
  content: "\e90f";
}

.icon-twitter:before {
  content: "\e910";
}

.link {
  @apply relative;
}
.link:after {
  @apply absolute content-[""] top-full left-0 w-full h-[1px] bg-black scale-x-0 duration-100 origin-left;
  will-change: transform;
}

.swiper-pagination-bullet-active {
  @apply bg-black !important;
}
